/*           reset            */
:root {
    --font-color: #333;
    --input-bg-color: #e2e2e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans, "Segoe UI", sans-serif;

}

@font-face {
    font-family: "Sans";
    src: url("../fonts/Sans.eot");
    src: url(../fonts/Sans.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Sans.woff) format("woff"),
    url(../fonts/Sans.ttf) format("truetype"),
    url(../fonts/Sans.svg#fontawesome) format("svg")
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    direction: rtl;
    font-family: Sans, "Segoe UI", sans-serif;
    color: var(--font-color);
}


/*            navbar             */

.header {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 25px 3px rgba(0 0 0 /8%);
}

.header .container {
    width: 1646px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.header .header-top {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

}

.header .right {
    display: flex;
}

.header .header-logo {
    font-size: 20px;
    padding: 5px;
    color: #ff0000;
}

.header .search-input {
    background: var(--input-bg-color);
    width: 765px;
    display: flex;
    border-radius: 10px;
}

.header .search-input input {
    border: none;
    background: none;
    width: 100%;
    padding: 0.4rem;
    line-height: 2rem;
}

.header .search-input button {
    border: none;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    margin-right: 5px;
    background: inherit;
}

.nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul, .nav-menu li, .nav-menu li a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.nav-menu li a {
    gap: 5px;
}

.nav-menu > ul > li > a, .location a {
    padding: 0.5rem;
    font-size: 11px;
}

.nav-menu > ul > li > a > span:first-child, .location a > span:last-child {
    font-size: 16px;
}

.nav-menu > ul > li:nth-child(5) > a > span:first-child {
    color: #6b006b;
}

.nav-menu > ul > li:nth-child(7) > a > span:first-child {
    color: #0000ff;
}

/*********** hover under line code ************/

#tablet-header{
    display: none;
}
/* Clearfix */
.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

*:first-child + html .group {
    zoom: 1;
}

/* IE7 */


/* Example One */
#example-one {
    position: relative;
}

#example-one li {
    display: inline-block;
}


#magic-line {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100px;
    height: 2px;
    padding: 0;
    background: #ff0000;
}

.ie6 #example-one li, .ie7 #example-one li {
    display: inline;
}

.ie6 #magic-line {
    bottom: -3px;
}

/*           mega menu styles             */

.header .current_page_item > h3 {
    font-size: 11px;
    font-weight: 400;
    margin: 0 8px;
}

.header .current_page_item > h3 > a > span > i {
    font-size: 16px;
}

.header .mega-box {
    position: absolute;
    border-radius: 0 0 10px 10px;
    display: flex;
    line-height: 1rem;
    background: #fff;
    /*width: 1646px;*/
}

.header .mega-box .subjects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 230px;
    border-left: #eeeeee 1px solid;

}

.mega-box .subject span {
    font-size: 12px;
}

.mega-box .all-items-of-category {
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px !important;
}

.mega-box .all-items-of-category i {
    margin-top: 5px;
}

.mega-box .subjects > li {
    width: 230px;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}


.mega-box .subjects > li:hover {
    color: #ef394e;
    background: #f9f9f9;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
}

#desktop-header .selected-subject {
    color: #ef394e;
    background: #f9f9f9;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;

}

.mega-box .subjects-children {
    width: 1416px;
}

.mega-box .subjects-children .row {
    display: flex;
    justify-content: space-between;
    width: 1416px;

}

.mega-box .subjects-children .column {
    flex: 1;
    margin-right: 10px;
}

.mega-box .subjects-children .column ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.mega-box .subjects-children .column span {
    border-right: 2px solid #ff0000;
    position: absolute;
    top: 30%;
    bottom: 25%;
    right: -10px;
}

.mega-box .subjects-children .column ul > li {
    padding: 0;
    margin: 0;
    font-size: 12px;

}

.mega-box .subjects-children h4 {
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 13px;
    position: relative;
}

.section-darken {
    background: rgba(0 0 0/ 20%);

}

.show-mm {
    display: block;
    z-index: 10;
    opacity: 1;
    transition: all 500ms;
}

.hide-mm {
    display: none !important;
    opacity: 0;
    transition: all 500ms;

}















