#tablet-header{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}
#tablet-header .header-top{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
#tablet-header .middle{
    display: flex;
}

























